.caixa{
    background-color: white;
    width: 300px;
    border: solid pink;
    padding: 40px;
    margin: 40px;
    border-radius: 20px;
    font-family: Arial, sans-serif;
}

.caixa h2{
    text-align: center;
    font-size: medium;

}

.caixa p {
    text-align: center;
    font-size: medium;
    color: blue;
}

